body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.el-message {
  --el-message-bg-color: #fff !important;
  --el-message-border-color: #fff !important;
  --el-message-padding: 14px 16px !important;
  --el-border-radius-base: 8px !important;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
}